# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/
*.env/

# Database files
*.db
*.sqlite

# Operating system ignores
.DS_Store
Thumbs.db
*.tmp

# Editors and IDEs
.vscode/
.idea/

# Log files
*.log

# Environment variables
.env
.env.*

# Build artifacts
dist/
build/